@import "macchiato.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @surface0;
    /*background: transparent; */
}

tooltip {
    background: @overlay0;
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: @base;
}

.modules-right {
    color: @text;
    background: @crust;
    border-radius: 0 0 0 1rem;
    border-color: @green;
    border-style: solid;
    border-width: 0rem 0rem 0.1rem 0.1rem;
}

.modules-center {
    color: @text;
    background: @crust;
    border-radius: 0 0 1rem 1rem;
    padding: 0 1rem;
    border-color: @green;
    border-style: solid;
    border-width: 0rem 0.1rem 0.1rem 0.1rem;
}

.modules-left {
    color: @text;
    background: @crust;
    border-radius: 0 0 1rem 0;
    border-color: @green;
    border-style: solid;
    border-width: 0rem 0.1rem 0.1rem 0rem;
}

#workspaces button {
    background: @peach;
    color: @crust;
    border-radius: 35%;
    margin: 0.3rem; 
}

#workspaces button.empty {
    background: @teal;
}

#workspaces button.visible {
    background: @blue;
}

#workspaces button.active {
    background: @green;
}

#workspaces button.urgent {
    background: @red;
}

#workspaces button:hover {
    background: @mauve;
}

#window,
#mpris,
#wireplumber,
#temperature,
#tray,
#cpu,
#clock,
#network,
#custom-archicon,
#memory {
    color: @text;
    padding: 0.2rem 0.5rem;
}

#workspaces {
    padding-right: 0.3rem;
    border-radius: 0rem 0rem 1rem 0rem;
    border-style: solid;
    border-width: 0rem 0.1rem 0rem 0rem;
    border-color: @green;
}

#wireplumber.muted {
    color: @red
}

#window {
    padding: 0rem 1rem;
}

#custom-archicon {
    padding: 0rem 1rem;
}
