@import "macchiato.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    /* background: @crust; */
    background: transparent;
}

tooltip {
    background: @overlay0;
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: @base;
}

.modules-right {
    color: @text;
    background: @crust;
    border-radius: 0 0 0 1rem;
}

.modules-center {
    color: @text;
    background: @crust;
    border-radius: 0 1rem 1rem 0;
}

.modules-left {
    color: @text;
    background: @surface0;
    border-radius: 0 0 1rem 0;
}

#workspaces button {
    background: @sapphire;
    color: @crust;
    margin: 0.1rem 0.5rem 0.1rem 0;
    border-radius: 1rem;
}

#workspaces button.active {
    background: @rosewater;
}

#workspaces button.urgent {
    background: @red;
}

#workspaces button:hover {
    background: @mauve;
}

#window,
#mpris,
#clock,
#wireplumber,
#temperature,
#tray,
#cpu,
#network,
#memory {
    color: @text;
    padding: 3px 10px;
}

#workspaces {
    background: @crust;
    padding-left: 1rem;
    padding-right: 0.3rem;
    border-radius: 0 1rem 1rem 0;
}

#window {
}
